# This file is managed by @forsakringskassan/vue-lib-template
# Repository: https://github.com/Forsakringskassan/vue-lib-template
#
# Changes may be overwritten!

# vite dev
# /src/vite-dev/app.vue
*.tgz
node_modules/

# Build artifacts
.eslintcache
coverage/
dist/
public/
temp/

# Cypress output
cypress/screenshots/
test-results/

# Editor directories and files
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# [cloneman-template-override: Add custom changes below this line]

foo.txt
bar/baz.gif
