# This file is partially managed by @forsakringskassan/vue-lib-template.
#
# Place your own rules below the "Add local changes below" comment.
# Rules above that line may be overwritten.

# vite dev
# /src/vite-dev/app.vue
*.tgz
node_modules/

# Environment files
.env
.env.*

# Build artifacts
.eslintcache
coverage/
dist/
public/
temp/

# Cypress output
cypress/screenshots/
test-results/

# Editor directories and files
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Add local changes below ---
